<html> 
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="Affordable and professional web design">
      <meta name="keywords" content="web design, affordable web design, professional web design">
      <meta name="author" content="Brad Traversy">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>

      <div class="flex-container">
          <div class="column">
            <img src="assets/IMG/pic_profile.jpg" alt="">

            <br>

            <h1>Mohamed Sharif</h1>
            <p>Des Moines, IA</p>

            <h5 id="Colum_Bio">I am a programmer that is familiar with Java, C++, JavaScript, Html, CSS etc. Am originally from Somali then my mom moved to Kenya where I grew up until I was 12-year-old. I came to USA 9/2010 where I began studying English and other high school subjects. 
              When I graduated from high school in 2015 I didn’t know what to study and what to go to college for. My first year of going to college Des Moines Area Community college (DMACC) I studied Business Administration and I hated. Then tried taking programming class and simply enjoyed it.
               I changed my major to Business Information System at Dmacc and I will soon be graduating may, 2019. 
              Since i gained interest for IT I token a lot of classes and studied my free times to expend my knowledge on IT. I build my own desktop computer out of curiosity to learn how hardware good on PC. I have been programming for about 3 years now and still learning new things and that’s
               why I love to code because you keep learning and learning and I love it.
              </h5>
          </div>

          <!-- <div class="column bg-alt">
            <h5 id="Colum_Bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
          </div> -->
      </div>

      <footer>
          <p>mohamedsharifms, Copyright &copy; 2019</p>
          <i class="fa fa-github" style="font-size:48px;color:red"></i>
          <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i>
      </footer>

  </body>
</html>