<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Affordable and professional web design">
        <meta name="keywords" content="web design, affordable web design, professional web design">
        <meta name="author" content="Brad Traversy">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title></title>
  </head>
  <body>
    <div class="background">
        <div id="contact">
                    <p>SAY HELLO!</p>
                    <h2>abdisharif2015@gmail.com</h2>
                    <p class="ME_bio">If you are interested in a new project,
                         collaboration, or a reason to get a coffee
                        don't hesitate to shoot me an email.</p>
                        <br>
                        <br>
                    <p>FOLLOW ME</p>
                    <i class="fa fa-github" style="font-size:48px;color:red"></i>
                    <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i>
                
        </div>
        
    </div>
  </body>
</html>