<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="Affordable and professional web design">
      <meta name="keywords" content="web design, affordable web design, professional web design">
      <meta name="author" content="Brad Traversy">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>

      <section id="newsletter">
          <div class="Newsletter_container">
              
              <h1>Contact Me </h1>
              <h2>abdisharif2015@gmail.com</h2>
          
          </div>
      </section>

      <section id="boxes">
          <div class="container">
            <div class="box">
              <img src="assets/IMG/logo_html.png">
              <h3><a href = "#" > HTML/CSS</a></h3>
              <p>I will have a link here soon to display my work on html/css</p>
            </div>
            <div class="box">
              <img src="assets/IMG/logo_javascript.png">
              <h3> <a href = "#" > JavaScript</a></h3>
              <p>I will have a link here soon to display my work on JavaScript</p>
            </div>
          
          </div>
        </section>



  </body>
</html>