<html>
    
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Affordable and professional web design">
        <meta name="keywords" content="web design, affordable web design, professional web design">
        <meta name="author" content="Brad Traversy">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Mohamed Sharif</title>
  </head>
  <style>
  
  </style>
  <body>
        <section class="prof-box">
      <div class="inner_prof-box">
          <img src="assets/IMG/pic_profiles1.jpg" alt="Profile Picture" class="prof_pic">
          <h1>Mohamed Sharif</h1>
          <h5>Web Developer | App Developer</h5>

          <div class="line-break"></div>
          
          <p>My passion is learning and developing on ideas and fixing the problems comes as you Develop these projects </p>
          <br>

          <a href="#" class="learnMore">Learn More</a>
      </div>
    </section>

      <section class="prof-about">
          <div class="inner_prof-about">

            <h3>Hi. I’m Mohamed Sharif, a programmer based in Des Moines. 
                I am a passionate programmer driven by the synergy of programming and technology. 
                I seek to became a Software Developer.
            </h3>

            <!-- <h3>Hi. I’m Nick Boes, a digital creative director based in Los Angeles. 
                    I am a passionate creative driven by the synergy of design and technology. 
                    I seek to bring meaning into design.
                </h3> -->
          </div>
      </section>

        <section id="newsletter">
            <div class="Newsletter_container">
                
                <h1>Contact Me </h1>
                <h2>abdisharif2015@gmail.com</h2>
            
            </div>
        </section>

    <footer>
            <p>mohamedsharifms, Copyright &copy; 2019</p>
            <i class="fa fa-github" style="font-size:48px;color:red"></i>
            <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i>
    </footer>
      
  </body>
</html>